@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=DM+Sans&family=Yeseva+One&display=swap');

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    overflow: scroll;
    font-family: 'DM Sans', sans-serif;
    /* box-sizing: border-box; */
}

body::-webkit-scrollbar {
    display: none;
  }

.color {
    width: 100%;
    padding-top: 6px;
    height: 35px;
    font-size: 12px;
    background-color: black;
    color: white;
    text-align: center;
}

.heading {
    font-size: 30px;
    font-family: 'Yeseva One', cursive;
}

h4, h3 {
    padding-top: 12px;
    text-align: center;
}

a.nav-link {
    font-size: 20px;
    color: black;
    display: inline-block;
    position: relative;
    padding-right: 70px;
}

a.nav-link:hover {
    color: black;
    display: inline-
}

a.nav-link:after {
    content: '';
    position: absolute;
    width: 70%;
    transform: scaleX(0);
    height: 1.5px;
    bottom: 0;
    left: 0;
    background-color: black;
    transition: transform 0.25s;
}

 a.nav-link:hover:after {
    transform: scaleX(1);
    transform-origin: bottom;
}

h5 {
    color: black;
    font-size: 30px;
}

#categories {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-content: center;
    gap: 60px;
    text-align: center;
}

.footer {
    background-color: black;
    color: white;
}

.kart {
    width: 28px;
    height: auto;
}

.icons {
    width: 25px;
    margin-right: 10px;
}


@media screen and (max-width: 1053px) {
    #categories {
        display: grid;
        grid-template-columns: auto auto auto;
        align-items: center;
        justify-content: center;
    }
}
@media screen and (max-width: 990px) {
    #categories {
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        justify-content: center;
    }
}
@media screen and (max-width: 695px) {
    #categories {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-content: center;
    }
}
@media screen and (max-width: 580px) {
    #categories {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-content: center;
    }
}