body {
    padding: 0;
    margin: 0;
    height: 100vh;
    overflow: scroll;
    /* box-sizing: border-box; */
}

body::-webkit-scrollbar {
    display: none;
  }

.color {
    width: 100%;
    padding-top: 6px;
    height: 35px;
    font-size: 12px;
    background-color: black;
    color: white;
    text-align: center;
}

h4, h3 {
    padding-top: 12px;
    text-align: center;
}

.nav {
    display: inline-block;
    /* text-align: center; */
    color: black;
}
a.nav-link {
    color: black;
}

.carousel-caption.d-none.d-md-block {
    color: black;
}

.footer {
    background-color: black;
    color: white;
}

.kart {
    width: 28px;
    height: auto;
    /* margin-left: 1290px; */
    /* display: flex;
    justify-items:end;
    align-items: end; */
}

.icons {
    width: 25px;
}


@media screen and (max-width: 1053px) {

    
}