body {
    padding: 0;
    margin: 0;
    height: 100vh;
    overflow: scroll;
    /* box-sizing: border-box; */
}

body::-webkit-scrollbar {
    display: none;
  }

.color {
    width: 100%;
    padding-top: 6px;
    height: 35px;
    font-size: 12px;
    background-color: black;
    color: white;
    text-align: center;
}

h4, h3 {
    padding-top: 12px;
    text-align: center;
}

a.nav-link {
    font-size: 20px;
    color: black;
    display: inline-block;
    position: relative;
    padding-right: 70px;
}

a.nav-link:hover {
    color: black;
    display: inline-
}

a.nav-link:after {
    content: '';
    position: absolute;
    width: 70%;
    transform: scaleX(0);
    height: 1.5px;
    bottom: 0;
    left: 0;
    background-color: black;
    transition: transform 0.25s;
}

 a.nav-link:hover:after {
    transform: scaleX(1);
    transform-origin: bottom;
}

.carousel-caption.d-none.d-md-block {
    color: black;
}

.footer {
    background-color: black;
    color: white;
}

.kart {
    width: 28px;
    height: auto;
    /* margin-left: 1290px; */
    /* display: flex;
    justify-items:end;
    align-items: end; */
}

.icons {
    width: 25px;
}


@media screen and (max-width: 1053px) {

    
}